/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    background: radial-gradient(circle at top, #0f2f25, #081915);
    font-family: 'Segoe UI', sans-serif;
    color: aliceblue;
    text-align: center;
}